<div class="login">
  <h1>Login to To-Do-List </h1>
  <form method="get" action="http://localhost:4201/searchUser">
    <p> <span id="message"> Account does not exist, please register </span></p>
    <p><input type="text" name="login" value="" placeholder="Username or Email" id="loginUsername"></p>
    <p><input type="password" name="password" value="" placeholder="Password" id="loginPassword"></p>
    <p><input type="password" value="" placeholder="Confirm Password" id="loginPasswordCheck"></p>
    <p class="remember_me">
    </p>
    <p class="submit"><input type="button" value="Register" (click)="Register()" id="registerButton">
      <input type="button" name="commit" value="Login" (click)="userLogin()"></p>
  </form>
</div>

<div class="login-help">
  <p>Not yet registered?  <span (click)="showRegister(false)">Click here to register</span>.</p>
</div>

