<div>
<div class="todo">
  <div class="todo-context">
    <div class="handle">
      <img src="./assets/drag.svg">
    </div>
    <div class="todo-content-check" (click)="changeCompleted()">
      <img *ngIf="unmarked" src="./assets/Checkbox.svg">
      <img *ngIf="marked" src="./assets/checkbox-marked.png">
    </div>
    <div class="todo-Content-title">
      <input type="text" value="{{todo.title}}" id="input{{todo.id}}" style="padding-top: 20px " (focusout)="saveTitle()" ><!--Onchange Handler --><br>
      <div class="openInfo" style="color: #090C33" (click)="showMoreInfo()" id="openInfo{{todo.id}}"> <span> &#9662; </span></div>
    </div>
  </div>
  <div class="delete" (click)="deleteToDoItem()" id="deleteButton{{todo.id}}">
    <span>Delete</span>
  </div>
</div>
  <app-detail-info [context]="toDoListComponent" id="detailInfo{{todo.id}}" class="detailInfo" [todo]="todo"></app-detail-info>
</div>
