.todo {
  width: 100%;
  margin: 10px 0 0 10px;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: space-between;
  background-color: white;
  height: 100%;
  font-size: 1.2em;
  border-radius: 37px 37px 37px 37px;
}

.todo-Content-title {
  width: 100%;
}

img {
  height: 25px;
  width: 25px;
  padding: 9px 0 10px 0;
}

.handle {
  background-color: #06D1B6;
  height: 100%;
  flex-flow: row;
  padding: 0 10px 0 10px;
  cursor: grab;
  border-bottom-left-radius: 37px;
  border-top-left-radius: 37px;
}

.handle img {
  padding-top: 30px;
}

.todo-context {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

input {
  border: none;
  margin-left: 20px;
  width: 90%;
  font-size: 1.2em;
}

.saveIcon{
 height: fit-content;
  width: fit-content;
  padding-top: 20px;
  padding-bottom: 0;
  cursor: pointer;
  display: none;
}

.delete {
  width: 20%;
  cursor: pointer;
  background-color: #F84B30;
  border-top-right-radius: 37px;
  border-bottom-right-radius: 37px;
}

input:focus {
  color: blue;
}

span {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.todo-content-check {
  padding: 0 10px 0 10px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.openInfo {
  margin: 0;
  padding: 0;
  height: fit-content;
  width: 80%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.openInfo span {
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding-left: 25%;
  cursor: pointer;
}
.detailInfo{
  display: none;
}
