<app-todo-header></app-todo-header>
<div class="listView">
    <h4 (click)="displayPending()"> Pending <span id="displayPending">({{toDoPending.length}}) &#9652; </span></h4>
  <div class="todoElements" id="todoPending">
    <app-to-do-single-item *ngFor="let todo of toDoPending" [todo]="todo"  [toDoListComponent]="this" class="todoListElement">
    </app-to-do-single-item>
  </div>
  <app-to-do-form class="todoListElement" [toDoListComponent]="this"></app-to-do-form >
  <h4 (click)="displayDone()">Done <span id="displayDone">( {{toDoDone.length}} ) &#9652;</span></h4>
  <div class="todoElementsDone" id="todoDone">
    <app-to-do-single-item *ngFor="let todo of toDoDone" [todo]="todo"   class="todoListElement" [toDoListComponent]="this">
    </app-to-do-single-item>
  </div>
  <app-button-clear-all [toDoListComponent]="this"></app-button-clear-all>
</div>
