span {
  background-color: #F84B30;
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  padding: 15px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 50px;
}

div{
  width: 100%;
  display: flex;
  flex-flow: row-reverse;
  margin-left: 10px;
  margin-top: 20px;
}
