<div id="detailFramework">
  <span id="categories">
  <div class="singleCategory"> <label> <img src="./assets/calendar.png"> <input type="date" id="dateTillDone" (change)="setDate()"> </label> </div> <!--TODOonchange-->
    <!-- <div class="singleCategory"> category: <span></span></div>-->
  <div class="singleCategory">
    <img id="prio" (click)="setPrio()" src="./assets/2xclam.PNG" class="prio"/> </div>
  </span>
</div>
