#detailFramework{
  display: flex;
  flex-flow: row;
  justify-content: center;
  color: #090C33;
  margin-top: 0;
  width: 93%;
  border-top: 1px solid #090C33;
}

#categories{
  background-color: white;
  flex-flow: row;
  display: flex;
  width: fit-content;
  padding: 10px;
}

.singleCategory{
  padding: 10px;
}
#dateTillDone{
  font-family: "Segoe UI" , sans-serif;
  vertical-align: top;
}
img{
  height: 30px;
  vertical-align: top;
  padding-right: 5px;
}

.prio{
  font-size: 1.2em;
  cursor: pointer;
  color: #edbe00;
}
