h1 {
  text-transform: uppercase;
}

#header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

h1 {
  display: flex;
  justify-content: flex-start;
}

#header div {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

img {
  margin: 0;
  padding-top: 10px;
  height: fit-content;
  cursor: pointer;
  padding-left: 10px;
}

#logout {
  font-size: 0.8em;
}

#logoutIcon{
  width: fit-content;
  height: fit-content;
}
