<div id="header">
  <h1>To-Do-List</h1>
  <div id="logoutArea"><span id="logout">Logout </span> <span id="logoutIcon"><img
    src="./assets/logoutIcon.svg" (click)="logoutUser()"></span></div>

</div>

