.todoForm {
  width: 100%;
  height: 100%;
  background-color: #06D1B6;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  vertical-align: center;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1.2em;
}

.todoContext {
  width: 93%;
}

input {
  background-color: #06D1B6;
  color: white;
  width: 100%;
  border: none;
  word-break: break-word;
  font-size: 1.2em;
  padding: 20px 0 0 10px;

}

input::placeholder {
  opacity: 0.5;
  font-style: italic;
  color: #4D766D;
}

input:focus {
  outline: none;
}

.create {
  width: 18.5%;
  cursor: pointer;
  border-left: 1px solid #090C33;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}


span {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.openInfo span {
  height: fit-content;
  width: fit-content;
  padding: 0;
  cursor: pointer;
  margin-left: 93px;
}

.openInfo {
  margin: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

app-detail-creation{
  display: none;
}
