<div>
  <div class="todoForm">
  <div class="todoContext">
    <input type="text"  placeholder="Things to do" id="createInput">
    <div class="openInfo" style="color: #090C33"  id="openInfo"> <span (click)="showMoreInfo()"> &#9662; </span></div>
  </div>
    <div class="create"> <span (click)="createNewTodo(creator)" > Create </span></div>
</div>
  <app-detail-creation [context]="toDoListComponent" #creator ></app-detail-creation>
</div>
