<div id="detailFramework">
  <span id="categories">
  <div class="singleCategory"> <label> <img src="./assets/calendar.png"> <input type="date" id="dateTillDone{{todo.id}}" value="{{todo.expireDate}}" (change)="changeDate()"> </label> </div> <!--TODOonchange-->
 <!-- <div class="singleCategory"> category: <span></span></div>-->
  <div class="singleCategory">
    <img id="prio{{todo.id}}" (click)="changePrio()" src="{{url}}" class="prio"/> </div>
  </span>
</div>
