/* You can add global styles to this file, and also import other style files */
html{
  border-top: 15px solid #06D1B6;
  background-color: #090C33;
  color: #fff;
  font-family: "Gill Sans" , sans-serif;
  font-size: 18px;
  padding: 20px;
}

body{
  height: 100%;
  min-height: 100%;
}
footer {
  font-size: 0.6em;
  position: relative;
  margin-top: 180px;
  bottom: 0;
  height: fit-content;
  width: 100%;
}

footer div{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0;
  height: fit-content;
}

#author{
  display: flex;
  justify-content: flex-start;
  height: fit-content;
}
#icons{
  display: flex;
  justify-content: flex-end;
  height: fit-content;
}

a{
  padding-left: 5px;
  color: #06D1B6;
}
hr{
  color: white;
}
